<!-- <section class="container-fluid cmContainer box">
  <div class = "boxWidth">
    <div class="heading col-4">NOTIFICATIONS
    </div>
    <div class="form-group row">
        <label  class="col-md-4 col-form-label">Type of Notifications </label>
        <div class="col-md-4">
      <select class="custom-select dropBox" >
        <option selected>All</option>
        <option value="1">Sponsor</option>
        <option value="2">CRO/PI</option>
        <option value="3">Patients</option>
      </select>
      </div>
      </div>


    <div class="form-group row">
        <label  class="col-md-4 col-form-label">Notification Message</label>
        <div class="col-md-4">
            <textarea class="form-control" rows="3"></textarea>
        
        </div>
      </div>
      <div class="row button-margin buttonRow">
          <div class="button-padding button-row">
            <button mat-raised-button class="primary" >Save</button>
            <button mat-raised-button class="primary">Reset</button>
          </div>
        </div>
  </div>
</section> -->

<div class="PageUnderConstruction">
  <img class="ConstImage" src="./assets/img/page-under-construction.jpg" alt="Page Under Construction">
 </div>
