.pageheader {
    background: #fff;
    margin: -25px -10px 14px -18px;
    padding: 21px 10px 1px 35px;
  }
  
  .pagination {
    margin: 0px 0 !important;
  }
  
  .saveButton {
    background-color: #28bfc7;
    border-color: #28bfc7;
    color: white;
  }
  
  .contentRowHeader {
    background: #fff;
    margin: -25px -24px 24px -32px;
    padding: 15px 14px 1px 14px;
  }
  .contentSection{
      background: #fff;
      min-height: 500px;
      padding: 16px 14px;
  }
  .addBtn2 {
    background-color: #28bfc7;
    border: #28bfc7;
    color: white;
    font-weight: bold;
  }
  .inprogress-gif{
    width : 30px;
    height : 30px;
  }
  .text-center{
    text-align: center;
  }