<div class="dHeader">
  <p class="mt-3"> Add Document
    <img (click)="closeDialog()" class="cancel-icon" src="./assets/img/icons/close-button.svg" alt="">
  </p>
</div>
<div class="dialog-container">
  <form [formGroup]="form" novalidate class="row">
    <div class="col-md">
      <div class="d-flex flex-row row">
        <div class="form-group col-md " [ngClass]="{'isInvalid' :(form['controls'].documentName.errors?.required && form['controls'].documentName.touched ) || (form['controls'].documentName.errors?.required && submitted)}">
          <div class="row">
            <label for="documentName" class="col-form-label row">Document Name</label>
          </div>
          <div class="row">
            <select class="form-control arrowRight" formControlName="documentName" untouched (change)="secondDoc($event)">
              <option  class= "PlaceholderOption" value="" [selected]="true" [hidden]="true">Select Document Name</option>
              <option *ngFor="let doc of docLists" [value]="doc._id">{{doc.docName}}</option>
            </select>

            <span class="row input-padding error-message" *ngIf="(form['controls'].documentName.errors?.required && form['controls'].documentName.touched )  || (form['controls'].documentName.errors?.required && submitted)">
              *Please select valid Document Name
            </span>
          </div>
        </div>

        <div class="form-group col-md" [ngClass]="{'isInvalid' :(form['controls'].documentType.errors?.required && form['controls'].documentType.touched && !form['controls'].documentType.pristine) || (form['controls'].documentType.errors?.required && submitted)}">
          <div class="row">
            <label for="documentType" class="col-form-label row">Document Type</label>
          </div>
          <div class="row bottomUnderline">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline1" formControlName="documentType" name="documentType" value="Site Specific" class="custom-control-input">
              <label class="custom-control-label" for="customRadioInline1">Site Specific</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline2" formControlName="documentType" name="documentType" value="Global" class="custom-control-input">
              <label class="custom-control-label" for="customRadioInline2">Global</label>
            </div>
            <span class="row input-padding error-message" *ngIf="(form['controls'].documentType.errors?.required && form['controls'].documentType.touched ) || (form['controls'].documentType.errors?.required && submitted)">
              *Please select valid Document Type
            </span>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row row" *ngIf="form['controls'].documentName.value === AppConfig.icfOfficialId || form['controls'].documentName.value === AppConfig.icfExplanatoryId">
        <div class="form-group col-md" [ngClass]="{'isInvalid' :(form['controls'].secondDocumentName.errors?.required && form['controls'].secondDocumentName.touched && !form['controls'].secondDocumentName.pristine) || (form['controls'].secondDocumentName.errors?.required && submitted)}">
          <div class="row secondDoc">
            <input type="text" class="form-control arrowRight" [attr.disabled]="true" formControlName="secondDocumentName" [value]="docNames[1]?.docName">
            <!-- <select class="form-control" disabled formControlName="secondDocumentName" >
                <option [value]="form['controls'].secondDocumentName.value">{{docNames[1]?.docName}}</option>
              </select> -->


            <span class="row input-padding error-message" *ngIf="(form['controls'].secondDocumentName.errors?.required && form['controls'].secondDocumentName.touched)">
              *Please select valid Second Document
            </span>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row row" *ngIf="form['controls'].documentType.value !== 'Global'">
        <div class="col-md" [ngClass]="{'isInvalid' :(form['controls'].croId.errors?.required && form['controls'].croId.touched) || (form['controls'].croId.errors?.required && submitted)}">
          <div class="form-group row">
            <label for="croId" class="col-form-label">CRO ID</label>
          </div>
          <div class="row">
            <!-- <select class="form-control" formControlName="croId" #cId required="required" (change)="croIdAndNameChanged(cId.value,'id')">
              <option value="" [selected]="true" [hidden]="true">Select CRO ID</option>
              <option *ngFor="let cro of croList">{{cro.croId}}</option>
            </select> -->
            <input type="text" list="croID" class="form-control arrowRight" placeholder="Select CRO ID" #cId required="required" formControlName="croId"
              (change)="croIdAndNameChanged(cId.value,'id')">
            <datalist id="croID">
              <option *ngFor="let cro of croList">{{cro.orgId}}</option>
            </datalist>
            <span class="row input-padding error-message" *ngIf="(form['controls'].croId.errors?.required && form['controls'].croId.touched) || (form['controls'].croId.errors?.required && submitted)">
              *Please select valid CRO ID
            </span>
          </div>
        </div>
        <div class="col-md" [ngClass]="{'isInvalid' :(form['controls'].croName.errors?.required && form['controls'].croName.touched) || (form['controls'].croName.errors?.required && submitted)}">
          <div class="form-group row ">

            <label for="croName" class="col-form-label">CRO Name</label>
          </div>
          <div class="row">

            <!-- <select class="form-control" formControlName="croName" #cName required="required" (change)="croIdAndNameChanged(cName.value, 'name')">
              <option value="" [selected]="true" [hidden]="true">Select CRO Name</option>
              <option *ngFor="let cro of croList">{{cro.croName}}</option>
            </select> -->
            <input type="text" list="croNAME" class="form-control arrowRight" formControlName="croName" placeholder="Select CRO Name" #cName required="required"
              (change)="croIdAndNameChanged(cName.value, 'name')">
            <datalist id="croNAME">
              <option *ngFor="let cro of croList">{{cro.orgName}}</option>
            </datalist>
            <span class="row input-padding error-message" *ngIf="(form['controls'].croName.errors?.required && form['controls'].croName.touched) || (form['controls'].croName.errors?.required && submitted)">
              *Please select valid CRO Name
            </span>
          </div>
        </div>
      </div>


      <div class="d-flex flex-row row" *ngIf="form['controls'].documentType.value !== 'Global'">
        <div class="col-md" [ngClass]="{'isInvalid' :(form['controls'].siteId.errors?.required && form['controls'].siteId.touched) || (form['controls'].siteId.errors?.required && submitted)}">
          <div class="form-group row">
            <label for="siteId" class="col-form-label">Site ID</label>
          </div>
          <div class="row">
            <!-- <select class="form-control" formControlName="siteId" #sId required="required" (change)="siteIdAndNameChanged(sId.value,'id')">
              <option value="" [selected]="true" [hidden]="true">Select Site ID</option>
              <option *ngFor="let site of sitesList">{{site.siteId}}</option>
            </select> -->
            <input type="text" list="siteID" class="form-control arrowRight" formControlName="siteId" placeholder="Select Site ID" #sId required="required"
              (change)="siteIdAndNameChanged(sId.value,'id')">
            <datalist id="siteID">
              <option *ngFor="let site of sitesList">{{site.siteId}}</option>
            </datalist>

            <span class="row input-padding error-message" *ngIf="(form['controls'].siteId.errors?.required && form['controls'].siteId.touched) || (form['controls'].siteId.errors?.required && submitted)">
              *Please select valid Site ID
            </span>
          </div>
        </div>
        <div class="col-md" [ngClass]="{'isInvalid' :(form['controls'].siteName.errors?.required && form['controls'].siteName.touched) || (form['controls'].siteName.errors?.required && submitted)}">
          <div class="form-group row ">

            <label for="siteName" class="col-form-label">Site Name</label>
          </div>
          <div class="row">
            <!-- <select disable class="form-control" formControlName="siteName" #sName required="required" (change)="siteIdAndNameChanged(sName.value, 'name')">
              <option value="" [selected]="true" [hidden]="true">Select Site Name</option>
              <option *ngFor="let site of sitesList">{{site.siteName}}</option>
            </select> -->
            <input type="text" list="siteNAME" class="form-control arrowRight" placeholder="Select Site Name" #sName required="required" formControlName="siteName"
              (change)="siteIdAndNameChanged(sName.value, 'name')">
            <datalist id="siteNAME">
              <option *ngFor="let site of sitesList">{{site.siteName}}</option>
            </datalist>
            <span class="row input-padding error-message" *ngIf="(form['controls'].siteName.errors?.required && form['controls'].siteName.touched) || (form['controls'].siteName.errors?.required && submitted)">
              *Please select valid Site Name
            </span>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row row">
        <div class="col-md" [ngClass]="{'isInvalid' :(form['controls'].irbId.errors?.required && form['controls'].irbId.touched) || (form['controls'].irbId.errors?.required && submitted)}">
          <div class="form-group row secondDoc">
            <label for="irbId" class="col-form-label">IRB ID</label>
          </div>
          <div class="row secondDoc">
            <!-- <select class="form-control" formControlName="irbId" required="required">
              <option class= "PlaceholderOption" value="" [selected]="true" [hidden]="true">Select IRB ID</option>
              <option *ngFor="let irb of irbList" [value]="irb._id">{{irb.irbId}}</option>
            </select> -->
            <input type="text" list="irb" class="form-control arrowRight" placeholder="Select IRB ID" required="required" formControlName="irbId">
            <datalist id="irb">
              <option *ngFor="let irb of irbList">{{irb.irbId}}</option>
            </datalist>
            <span class="row input-padding error-message" *ngIf="(form['controls'].irbId.errors?.required && form['controls'].irbId.touched) || (form['controls'].irbId.errors?.required && submitted)">
              *Please select valid IRB ID
            </span>
          </div>
        </div>
      </div>


      <div class="d-flex flex-row row">
  
          <div class="col-md" [ngClass]="{'isInvalid' :(form['controls'].language.errors?.required && form['controls'].language.touched) || (form['controls'].language.errors?.required && submitted)}">
            <div class="form-group row ">
  
              <label for="language" class="col-form-label">Language</label>
            </div>
            <div class="row">
              <select disable class="form-control arrowRight" formControlName="language" required="required">
                <option value="" [selected]="true" [hidden]="true">Select Language</option>
                <option *ngFor="let lang of languages" [value]="lang.language" >{{lang.language}}</option>
              </select>
              <!-- <input type="text" list="Language" class="form-control" placeholder="Select Language" required="required" formControlName="language">
              <datalist id="Language">
                <option *ngFor="let lang of languages" [value]="lang._id">{{lang.language}}</option>
              </datalist> -->
              <span class="row input-padding error-message" *ngIf="(form['controls'].language.errors?.required && form['controls'].language.touched) || (form['controls'].language.errors?.required && submitted)">
                *Please select valid Language
              </span>
            </div>
          </div>
          <div class="form-group col-md versionClass" [ngClass]="{'isInvalid' :((form['controls'].version.errors?.required && form['controls'].version.touched) || (form['controls'].version.errors?.required && submitted)) && !versionError}">
              <div class=" row ">
                <label for="version" class="col-form-label row">Version</label>
              </div>
              <div class=" row ">
                <input type="number" class="form-control" formControlName="version" placeholder="Enter Version">
    
    
                <span class="row input-padding error-message" *ngIf="((form['controls'].version.errors?.required && form['controls'].version.touched) || (form['controls'].version.errors?.required && submitted)) && !versionError">
                  *Please enter valid Version
                </span>
                <span class="row input-padding error-message" *ngIf="versionError">
                  {{versionError}}
                </span>
              </div>
            </div>
        </div>


      <!-- <div class="d-flex flex-row row uploadSection mt-2 mb-4" *ngIf="form['controls'].documentName.value === AppConfig.icfOfficialId || form['controls'].documentName.value === AppConfig.icfExplanatoryId">
        <div class="col-md">
          <img src="./assets/img/fileUploadShort.png" (click)="file.click()" />
          <input type="file" #file formControlName="file" [multiple]="false" (change)="onFileChange1($event,undefined)" />
          <p class="fileUploadTextShort">Drag an ICF Official document here or browse for an document to upload.</p>
        </div>


        <div class="col-md">
          <img src="./assets/img/fileUploadShort.png" (click)="file.click()"/>
          <input type="file" #file formControlName="file" [multiple]="false" (change)="onFileChange1($event,undefined)" />
          <p class="fileUploadTextShort">Drag an ICF Explanatory document here or browse for an document to upload.</p>

        </div>
      </div> -->

      <div class="d-flex flex-row row uploadSection  mt-2 mb-4">
        <ng-container *ngIf="docNames.length && (form['controls'].documentName.value === AppConfig.icfOfficialId || 
       form['controls'].documentName.value ===AppConfig.icfExplanatoryId )">
          <div [ngClass]="{'imageDragged': isImageDragged}" class="col-md" *ngFor="let doc of docNames; let i=index;" (drop)="onDrop($event, i)"
            (dragover)="onDragOver($event)" (click)="file.click()">
            <img src="./assets/img/fileUploadShort.png" />
            <input type="file" #file formControlName="file" [multiple]="false" (change)="onFileChange1($event, i)" />
            <p class="fileUploadTextShort">
              Drag a {{ i == 1 ? docNames[1]?.docName : docNames[0]?.docName}} here or browse for a document to upload.</p>
          </div>
        </ng-container>
        <ng-container>
          <div [ngClass]="{'imageDragged': isImageDragged}" (drop)="onDrop($event, 0)" (dragover)="onDragOver($event)" class="col-md"
            *ngIf="!docNames.length || (form['controls'].documentName.value === AppConfig.invitaionLetterId || 
        form['controls'].documentName.value ===AppConfig.studyDescriptionId ||  form['controls'].documentName.value === AppConfig.faqsId)"
            (click)="(docNames.length ? file.click(): '')">
            <img src="./assets/img/fileUpload.png" />
            <input type="file" #file formControlName="file" [multiple]="false" (change)="onFileChange1($event, 0)" />
            <p class="fileUploadText">
              {{ docNames.length ? ('Drag a ' + docNames[0]?.docName) :' Drag a Document' }} here or browse for a document to upload.</p>
          </div>
        </ng-container>
        <span class="row input-padding error-messageFile" *ngIf="((!files.length || (docNames[1]?.docName && files.length <2)) && !fileErrors && submitted)">
          *{{(docNames[1]?.docName && files.length
          <2) ? 'Please Upload Two Documents': 'Please select a
          document' }} </span>
            <span class="row input-padding error-messageFile" *ngIf="fileErrors">
              *{{fileErrors}}
            </span>
      </div>

    </div>

    <div class="col-xs hRow" *ngIf="files.length > 0"></div>
    <ul class="DocumentIcons">
      <li>
        <div class="col-xs" *ngIf="files.length > 0">
          <!-- <div class="doc-view docBox" *ngIf="form['controls'].documentName.value === AppConfig.invitaionLetterId ||
          form['controls'].documentName.value ==AppConfig.studyDescriptionId ||  form['controls'].documentName.value ==AppConfig.faqsId" >
              <img class="close" src="./assets/img/icons/close-button-file.svg" alt="close" (click)="cancelUpload()">
            <img class="file" src="./assets/img/icons/file@2x.png" alt="file">
            <div  class="fileNameBox">
              <p class="mb-0">{{form['controls'].documentName.value}}</p>
              <p>{{form['controls'].documentType.value}}</p>
              <p>{{form['controls'].version.value.toFixed(1)}}</p>
            </div>
          </div>croID
          <div class="doc-view docBox" *ngIf="form['controls'].documentName.value === AppConfig.icfOfficialId">
            <img class="close" src="./assets/img/icons/close-button-file.svg" alt="close" (click)="cancelUpload()">
          <img class="file" src="./assets/img/icons/file@2x.png" alt="file">
          <div class="fileNameBox">
            <p class="mb-0">{{form['controls'].documentName.value}}</p>
            <p>{{form['controls'].documentType.value}}</p>
            <p>{{form['controls'].version.value.toFixed(1)}}</p>
          </div>
        </div> -->
          <div class="doc-view docBox" *ngFor="let file of files; let i= index;">
            <img class="close" src="./assets/img/icons/close-button-file.svg" alt="" (click)="cancelUpload(i)">
            <img class="file" src="./assets/img/icons/file@2x.png" alt="">
            <div class="fileNameBox">
              <p class="mb-0">{{file.docName}}</p>
              <p>{{form['controls'].documentType.value}}</p>
              <p>{{form['controls'].version.value ? 'V ' + form['controls'].version.value.toFixed(1) : '' }}</p>
            </div>
          </div>

        </div>
      </li>
      <!-- <li>
        <div class="col-xs"  *ngIf="(form['controls'].documentName.value === AppConfig.icfOfficialId || form['controls'].documentName.value === AppConfig.icfExplanatoryId) && (form['controls'].fileExp.value !== ''||form['controls'].fileOff.value !== '') ">
          <div class="doc-view docBox">
              <img class="close" src="./assets/img/icons/close-button-file.svg" alt="close">
            <img class="file" src="./assets/img/icons/file@2x.png" alt="file">
            <div class="fileNameBox">
              <p class="mb-0">{{form['controls'].secondDocumentName.value}}</p>
              <p>{{form['controls'].documentType.value}}</p>
              <p>{{form['controls'].version.value}}</p>
            </div>
          </div>

        </div>
      </li> -->
    </ul>
  </form>
  <!-- <div class="row d-flex flex-row  dialogButton">
    <a class="addMoreDoc col-md" (click)="saveDocument('addMoreDocument')">+ Add More Document</a>

  </div> -->
  <!-- <ck-editor name="editor1" [(ngModel)]="editorValue" skin="moono-lisa" config="editorConfig" language="en" [fullPage]="true"></ck-editor> -->
  <div class="d-flex flex-row row dialogButton">
    <div class="col-md">
      <div class="form-group row">
        <a class="addMoreDoc col-md" (click)="checkVersion('addMoreDocument')">+ Add More Document</a>
      </div>
    </div>
    <div class="col-md">
      <div class="form-group row ">
        <button mat-raised-button class="primary saveButton col-md" flex-row-reverse (click)="checkVersion('submit')">Save</button>
      </div>
    </div>
  </div>
</div>