<div class="centerDiv">
  <div class="wrapper">
    <div class="loginLogo">
      <img src="./assets/img/logo.png">
    </div>
    <form class="form-signin" [formGroup]="form" novalidate>
      <div class="loginTop">
        <p>Set Password</p>
      </div>

      <div class="loginForm ">
        <div class="form-group">
          <label for="emailId">Password</label>
          <input type="text" class="form-control" formControlName="password" placeholder=" Password">
          <span class="row input-padding error-message" *ngIf="((form['controls'].password.errors?.required && form['controls'].password.touched)|| (form['controls'].password.errors?.required && submitted))">
            *Please enter valid Password
          </span>
        </div>
        <div class="form-group">
          <label for="emailId">Conform Password</label>
          <input type="password" class="form-control" formControlName="confirmPassword" placeholder=" Conform Password">
          <span class="row input-padding error-message" *ngIf="((form['controls'].confirmPassword.errors?.required && form['controls'].confirmPassword.touched)|| (form['controls'].confirmPassword.errors?.required && submitted))">
            *Please enter valid Confirm Password
          </span>
        </div>
        <div class="form-group mt-4">
          <button type="submit" class="btn btn-default loginBtn" (click)="setPassword();">
            Submit
            <i *ngIf="spiner" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
          </button>
        </div>
        <div class=" form-group accountAlready">
          <span>Already have an account? </span>
          <a routerLink="/login">Login Here</a>
          <!-- <a routerLink="/signup" class="create"> SignUp</a> -->
        </div>
      </div>
    </form>
  </div>
</div>